@import url('https://fonts.googleapis.com/css?family=Muli:600&display=swap');


*{
    margin: 0;
    padding: 0;
}


html , body {
    height: 100%;
    width: 100%;
    background-color: rgb(47, 47, 47);
    margin: 0;
    padding: 0;
    font-family: 'Muli', sans-serif;
 
}
 
 

.landing__section  { 
    width: 100%;
    height: auto; 
    display: grid;
    grid-template-rows: auto auto;
    grid-gap: 20px;
    margin-bottom: 50px;
}


.img__section {
    width: 100%;  
}

.landing__section h5 { 
    display: inline-block;
    cursor: cell;

}

.landing__section .left h3 { 
    text-align: center;
    font-size: 21px;
    text-transform: uppercase;
    color: rgb(40, 221, 206);
    margin: 35px 0;
    font-weight: bold;
}

.landing__section .left p {
    text-align: center;  
    margin: 20px;
    color: #fff;
}
.landing__section .left h5 {
    width: 100%;
    text-align: center; 
    color: rgb(53, 52, 52);
    padding: 20px 0;
    background-color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    border-radius: 20px; 
    margin: 20px 0;
}

#description {
    width: 92%;
    text-align: justify;
    margin: 0 auto;
    line-height: 25px;
}

.mars__section {
    width: 100%;
    display: grid;
    grid-template-rows: auto auto;
    grid-gap: 20px;
}

.mars__section .left { 
    border-radius: 20px;
    display: grid;
    grid-template-rows: auto auto;
    grid-gap: 20px;
    color: #fff;
}

.mars__section .second { 
    border-radius: 20px;
    display: grid;
    grid-template-rows: auto auto;
    grid-gap: 20px;
    color: #fff;
}


.textSection { 
    width: 95%;
    margin: 0 auto;
}

.textSection h4 {  
    text-align: left;
    font-size: 25px;
    color: #fff;
}
.textSection p {  
    text-align: justify;
    color: #fff;
}

.textSection p a {  
     color: #fff;
     text-decoration: underline;
     font-weight: bold;
}

 #landingVDO {
     width: 100%;
     z-index: 1;
 }
#mars_first,
#mars_second { 
    width: 100%;
}


.divider__title {
    margin: 20px 0;
    width: 100%;
    background-color: rgb(47, 47, 47);
}

.divider__title h4 {
    padding: 10px 0;
    color: #fff;
    font-size: 25px;
    text-align: center;
    width: 100%;
}

.earth__section {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-rows: auto auto;
    grid-gap: 10px;
}

.earth__section .left p{ 
    text-align: justify;
    color: #fff;
    margin: 0 auto;
    width: 95%;
}

.earth__section .left .span{ 
    background-color: aliceblue;
    width: 80%;
    padding: 20px;
    margin: 30px auto;
    text-align: center;
    border-radius: 6px;
}
.earth__section .left .span p{ 
    color: #444;
    font-weight: bold;
    margin: 10px 0;
    font-size: 17px;
}
.earth__section .left .span input{ 
     height: 6vh;
     border-radius: 6px;
}
.earth__section .left .span button{ 
     padding: 5px 18px;
     text-transform: uppercase;
     border-radius: 6px;
     font-size: 14px;
     margin: 20px;
}